<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>STG</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1033582477261-8m1q7k0gm8vns82rd9j7pc53tmd48kbd</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>PROD</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.510731179958-ngner2etphtp19iukk56prih79tqqov7</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>sg.gov.tech.bluetrace</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>TraceTogether</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>22</string>
	<key>FIREBASE_STORAGE_URL</key>
	<string>$(FIREBASE_STORAGE_URL)</string>
	<key>GitBranchInfo</key>
	<string>localization - Commit: 82aa321</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>swiftmed</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>合力追踪与附近运行同一应用程序的手机交换蓝牙信号。这些信号包含匿名ID，该ID被加密并不断更改以确保您的隐私</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>合力追踪与附近运行同一应用程序的手机交换蓝牙信号。这些信号包含匿名ID，该ID被加密并不断更改以确保您的隐私</string>
	<key>NSCameraUsageDescription</key>
	<string>Grant TraceTogether permissions to access your camera if you&apos;d like to upload a photo as part of a support request</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Grant TraceTogether permissions to access your photo library if you&apos;d like to upload a photo as part of a support request</string>
	<key>TRACER_SVC_ID</key>
	<string>${SERVICE_UUID}</string>
	<key>UIAppFonts</key>
	<array>
		<string>HKNova-Bold.ttf</string>
		<string>HKNova-ExtraBold.tff</string>
		<string>HKNova-ExtraLight.ttf</string>
		<string>HKNova-Heavy.ttf</string>
		<string>HKNova-Light.ttf</string>
		<string>HKNova-Medium.ttf</string>
		<string>HKNova-Regular.ttf</string>
		<string>HKNova-SemiBold.ttf</string>
		<string>HKNova-Thin.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
