<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>sg.gov.tracetogether.get_temp_ids_from_server</string>
		<string>sg.gov.tracetogether.get_temp_ids_from_server_bg_processing</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(TT_DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>STG</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.xxx.000</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>PROD</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.xxx.000</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.xxx</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>xx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>STG</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>xx</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FIREBASE_STORAGE_URL</key>
	<string>$(FIREBASE_STORAGE_URL)</string>
	<key>GOOGLE_ANALYTICS_IDFV_COLLECTION_ENABLED</key>
	<string>NO</string>
	<key>GitBranchInfo</key>
	<string>clean_app_delegate - Commit: 0000</string>
	<key>LITE_SVC_ID</key>
	<string>${LITE_SERVICE_UUID}</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>[This uses localised strings]</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>[This uses localised strings]</string>
	<key>NSCameraUsageDescription</key>
	<string>This lets you scan SafeEntry QR codes.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This lets you scan SafeEntry QR codes.</string>
	<key>TRACER_SVC_ID</key>
	<string>${SERVICE_UUID}</string>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-Medium.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>V2_CHARACTERISTIC_ID</key>
	<string>$(V2_CHARACTERISTIC_ID)</string>
</dict>
</plist>
